<div class="container">
        <div class="container-header">
            Notedown Your secret in Google Authenticator
        </div>
        <div class="container-body">
            <p class="user-box">
                {{secret}}
            </p>
            {{#link-to "login-route" class="link"}}
                <div class="home-btn">
                    Login
                </div>
            {{/link-to}}
        </div>
    </div>
{{outlet}}